/conda-env
/conda-env-preprocessing
.ipynb_checkpoints
/data
.idea
/outputs
/multirun
.snakemake
*.log
/.mypy_cache
__pycache__
/logs
/logs**
**/.hydra

logs
/MedicalNet
MedicalNet/*
MedicalNet/
MedicalNet

**/prev_vs/**
**/prev_vs

*.csv
*.out
.DS_Store
.vscode/**
.vscode/*.json
.vscode/
.condarc
.github/copilot-instructions.md
